*{   
    padding: 0%;
    margin: 0%;
    background-color: rgb(190, 179, 179);
}
.aside{
    display: flex;
}

.de{  
   
    height: 100vh;
    width: 25vw;
    background-color:rgb(216, 155, 43);
}
.hmeimg{
    width: 25vw;
    margin: 0%;
    padding: 0%;
    }



    .homepagebtn{
        border: none;
        background-color:rgb(216, 155, 43);
        font-weight: bolder;
        font-weight: bolder;
        position: absolute;
        top: 30vw;
        font-size: 2vw;
        left:3vw;
        height: 5vw;
        width: 18vw;
        border-radius: 50px;   
        background-color:rgb(216, 212, 204);
    
    }
    .homepagebtn:hover{
        height: 5.1vw;
        width: 18.1vw;
        box-shadow: 1px 1px 1px;
        cursor:pointer;
    }
    .CNTbtn{
        border: none;
        
        background-color:rgb(216, 212, 204);
        font-weight: bolder;
        position: absolute;
        top: 37vw;
        font-size: 2vw;
        left: 3vw;
        height: 5vw;
        width: 18vw;
        border-radius: 50px;
    }
    .CNTbtn:hover{
        height: 5.1vw;
        width: 18.1vw;
        box-shadow: 1px 1px 1px;
        cursor:pointer;
    }
    .abtbtn{
        border: none;
        
        background-color:rgb(216, 212, 204);
        font-weight: bolder;
        position: absolute;
        top: 44vw;
        font-size: 2vw;
        left: 3vw;
        height: 5vw;
        width: 18vw;
        border-radius: 50px;}
       
     .abtbtn:hover{
            height: 5.1vw;
            width: 18.1vw;
            box-shadow: 1px 1px 1px;
            cursor:pointer;
        }


    .resume{
        display: flex;
    }
    
    

     .resumetxt{
        
        font-size: 8vw;
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 1px solid black;
        text-align: center;
        
        width: 60vw;
        margin-top: 10px;
        
    }
  
    

   .imgabhi{
    position: relative;
    top: 2vw;
    left: 6vw;
    border: none;
    height: 32vw;
   }
   .imgdwld{
    position: relative;
    top:18vw;
    left: 15vw;
    border: none;
    border-radius: 25px;
    height: 5vw;
    width:20vw ;


   }
   .dwnld:hover{
    height: 5.1vw;
    width: 20.1vw;
    box-shadow: 1px 1px 1px;
    cursor:pointer;
}


   .dwnld{
    border: none;
    border-radius: 35px;
    height: 5vw;
    width:20vw ;
    background-color: rgb(216, 212, 204);
    font-size: 2vw;
   }